.daily-layout{
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
}
.daily-time{
  font-size: 12px;
  color: #ffffff;
  font-weight: bold;
  padding-bottom: 10px;
}
.daily-content{
  font-size: 18px;
  padding: 0 15px;
  color: #ffffff;
  font-weight: bold;
}
.daily-title{
  font-size: 12px;
  text-align: right;
  color: #ffffff;
  font-weight: bold;
  padding-top: 10px;
}