<ion-header>
    <!--<ion-buttons start>
        <button ion-button icon-only (click)="back()">
            <ion-icon name="arrow-back"></ion-icon>
            返回
        </button>
    </ion-buttons>
    <ion-toolbar>
        <ion-title>
            Article
        </ion-title>
    </ion-toolbar>-->
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="back()">
                <ion-icon slot="icon-only" name="arrow-back" color="dark" style="font-size: 24px;"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="back()">
                <ion-icon slot="icon-only" src="assets/imgs/star.svg" color="dark"
                          style="font-size: 20px;padding: 0 5px;"></ion-icon>
                <!--<ion-icon slot="icon-only" name="heart-empty" color="dark" style="font-size: 24px;"></ion-icon>-->
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="back()">
                <ion-icon slot="icon-only" src="assets/imgs/share.svg" color="dark"
                          style="font-size: 20px;padding: 0 5px;"></ion-icon>
                <!--<ion-icon slot="icon-only" name="heart-empty" color="dark" style="font-size: 24px;"></ion-icon>-->
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="article-image">
        <ion-img [src]="imgSource"></ion-img>
    </div>
    <h1>hello</h1>
    <h1>hello</h1>
    <h1>hello</h1>
    <h1>hello</h1>
    <h1>hello</h1>
    <h1>hello</h1>
    <h1>hello</h1>
    <h1>hello</h1>
    <h1>hello</h1>
    <h1>hello</h1>
    <h1>hello</h1>
    <h1>hello</h1>
    <h1>hello</h1>
    <h1>hello</h1>
    <h1>hello</h1>
    <h1>hello</h1>
    <h1>hello</h1>
    <h1>hello</h1>
    <h1>hello</h1>
    <h1>hello</h1>
    <h1>hello</h1>
    <h1>hello</h1>
    <h1>hello</h1>
    <h1>hello</h1>
    <h1>hello</h1>
    <h1>hello</h1>
    <h1>hello</h1>
    <h1>hello</h1>
    <h1>hello</h1>
    <h1>hello</h1>
    <h1>hello</h1>
    <h1>hello</h1>
    <h1>hello</h1>
    <h1>hello</h1>
    <h1>hello</h1>
    <h1>hello</h1>
    <h1>hello</h1>
    <h1>hello</h1>
    <h1>hello</h1>
    <h1>hello</h1>
    <h1>hello</h1>
    <h1>hello</h1>
    <h1>hello</h1>

</ion-content>
